<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
</head>
<body>
    <h1>Heading 1</h1>
    <p>
        This is a paragraph
        We are testing to see if a paragraph tag may handle multiple lines <br>
        Break tags <br>
    </p>
    <b>BOLD: The file name of this page is index.ejs <%= text %></b>
</body>
</html>